* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #16181b;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./Fotos/pngtree-airplane-flying-over-rocky-mountain-at-island-against-blue-sky-image_15692983.jpg');
    background-size: cover;
    background-position: center;

}

/* Estilos del banner y navegación */
.banner {
    width: 100%;
    height: 100vh;
}

.navebar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 1px;
}

.navebar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navebar ul li a {
    text-decoration: none;
    color: #FFEA11;
    text-transform: capitalize;
}

.navebar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navebar ul li:hover::after {
    width: 100%;
}

/* Estilos del contenido principal */
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/* Estilos de los botones */
button {
    width: 180px;
    height: 60px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #FFEA11;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    text-align: center;
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* Estilos del carrusel */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    flex-flow: column;
    position: relative;
}

.carousel {
    max-width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.carousel .item {
    width: 20%;
    height: 250px;
    max-width: 250px;
    margin: 2px;
    transition: 0.5s;
    object-fit: cover;
    filter: brightness(1);
}

.carousel .item:hover {
    filter: brightness(1);
    transform: translateZ(170px);
}

.carousel .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(120px) rotateY(25deg);
}

.carousel .item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(50px) rotateY(15deg);
}

.carousel .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(120px) rotateY(-25deg);
}

.carousel .item:has(+ * + *:hover) {
    filter: brightness(0.4);
    transform: translateZ(50px) rotateY(-15deg);
}
